libexif/obj
libexif/lib
libexpat/obj
libexpat/lib
libfontconfig/obj
libfontconfig/lib
libfreetype/obj
libfreetype/lib
libgif/obj
libgif/lib
libharfbuzz/obj
libharfbuzz/lib
libharfbuzz/harfbuzz
libjpeg-turbo/obj
libjpeg-turbo/lib
libpng/obj
libpng/lib
libwebp/obj
libwebp/lib
libcairo/cmake
libcurl/cmake
libexif/cmake
libexpat/expat/cmake
libfontconfig/cmake
libfreetype/cmake
libfribidi/cmake
libgif/cmake
libharfbuzz/cmake
libjpeg-turbo/cmake
libpixman/cmake
libpng/cmake
libwebp/cmake/armeabi-v7a
libwebp/cmake/arm64-v8a/
zlib/cmake/
Vulkan-Headers/cmake/arm64-v8a/
glslang/cmake/arm64-v8a/
SPIRV-Headers/cmake/arm64-v8a/
SPIRV-Tools/cmake/arm64-v8a/
